<h1>Welcome#index</h1>
<p>Hello my name is bruno and im here to help you with everithing about rails programing and cyber security</p>

<img src="https://pbs.twimg.com/profile_images/774792555758096385/Lm72k4HK.jpg" alt="me boring"  height="200" width="200" >

<br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/eVidP5cLsaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



